.cabecalho {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 130px;
    border-radius: 10px;
    position:relative;
    color: #9f5132;
    overflow: visible;
    background-color: #ffffff;
    
}

.bolo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 50vh;
    margin: auto;
   
}

.paginainicial {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
a:hover {
    font-size: 18px;
  
  }