.cabecalho {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fffff0;
    width: 100%;
    height: 130px;
    border-radius: 10px;
    position:relative;
    color: aliceblue;
    text-shadow: 1px 1px black;
    overflow: visible;
    font-family: "Arial";
    font-weight: bold;
}

.bolo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 50vh;
    margin: auto;
   
}

.paginainicial {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
a:hover {
    font-size: 18px;
  
  }