.Footer {
    display: flex;
    justify-content:baseline;
    align-items: center;
    background: #b39283;
    width: 100%;
    height: 4%;
    bottom: 0;
    position: fixed;
    border-radius:20px;
    font-size:  12px;
    font-weight: bold;
}

.containerCartoes {
    display: flex;    
    flex-direction: column;
}

.VisaFooter {
    
    width: 3%;
    height: 50%;
}

.MastercardFooter {
    
    width: 3%;
    height: 50%;
}

.AleloFooter {
    
    width: 3%;
    height: 50%;
}
