.Footer {
    padding: 2%;
    display: flex;
    justify-content:baselines;
    align-items: center;
    background: #fffff0;
    width: 100%;
    height: 4%;
    bottom: 0;
    border-radius:20px;
    font-size:  12px;
    font-weight: bold;
}

.containerCartoes{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.VisaFooter {
    padding: 1%;
    width: 10%;
    height: 50%;
    
}

.MastercardFooter {
    padding: 1%;
    width: 10%;
    height: 50%;
}

.AleloFooter {
    
    padding: 1%;
    width: 10%;
    height: 50%;
}
