#MeiodaPagina {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
}

#p {
    font-weight: bold;
}

#boloInicial {
    height: 50vh;
    width: 160vh;
    
    position: relative;
    
}

#RitaMeiodaPagina {
    height: 50vh;
    width: 160vh;
    justify-content: left;
    align-items: left;
    position: relative;
}
