.MeiodaPagina {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
}


.boloInicial {
    height: 40vh;
    width: 130vh;
    
    position: relative;
    
}

.RitaMeiodaPagina {
    height: vh;
    width: 20vh;
    
    
}

.ContainerRitaMeiodaPagina {
    display: flex;
    flex-direction:row-reverse;
    height: 100%;
    width: 100%;
    padding: 20px;
    font-family:sans-serif;
    font-weight: bolder;
    
    
    justify-content: space-around;
}

.bolo2 {
    height: vh;
    width: 20vh;
    flex-direction: initial;
    padding: 1vh;
}